apiVersion: v1
kind: Service
metadata:
  name: vehicle-service
  namespace: fleet-management
  labels:
    app: vehicle-service
    service: vehicle-service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: vehicle-service

